@import "mixins";
@import "variables";

.section{
    flex-direction: row;
    justify-content: flex-start;
    .article{
        width: 60%;
        margin-right: PxToEm(20px);
    }

    &__images{
        display: flex;
        height: PxToEm(225px);
        flex-direction: column;
        justify-content: space-evenly;

        &--first{
            width: PxToEm(150px);
            align-self: center;
            margin-top: PxToEm(40px);
        }
        &--second{
            width: PxToEm(70px);
            align-self: center;
        }
    }
}