.section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px groove #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 10px;
  width: 37.5em;
  margin: 1.875em auto;
  padding: 1.875em;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.contact-form__title {
  font-size: 2.8125em;
  font-weight: bold;
  padding-bottom: 0.3125em;
}

.contact-form__field input, .contact-form__field textarea {
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid white;
  font-size: 0.9375em;
  color: white;
  padding: 0.3125em;
  width: 26.5625em;
  margin-top: 0.625em;
}

.contact-form__field input::-webkit-input-placeholder, .contact-form__field textarea::-webkit-input-placeholder {
  color: white;
}

.contact-form__field input:-ms-input-placeholder, .contact-form__field textarea:-ms-input-placeholder {
  color: white;
}

.contact-form__field input::-ms-input-placeholder, .contact-form__field textarea::-ms-input-placeholder {
  color: white;
}

.contact-form__field input::placeholder, .contact-form__field textarea::placeholder {
  color: white;
}

.contact-form__field textarea {
  resize: none;
}

.contact-form__fullname input {
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid white;
  font-size: 0.9375em;
  color: white;
  padding: 0.3125em;
  width: 12.5em;
  margin: 0 0.625em;
}

.contact-form__fullname input::-webkit-input-placeholder {
  color: white;
}

.contact-form__fullname input:-ms-input-placeholder {
  color: white;
}

.contact-form__fullname input::-ms-input-placeholder {
  color: white;
}

.contact-form__fullname input::placeholder {
  color: white;
}

.contact-form__message--textarea {
  margin-top: 0.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.625em;
  resize: none;
  color: white;
}

.contact-form__message--textarea::-webkit-input-placeholder {
  color: white;
}

.contact-form__message--textarea:-ms-input-placeholder {
  color: white;
}

.contact-form__message--textarea::-ms-input-placeholder {
  color: white;
}

.contact-form__message--textarea::placeholder {
  color: white;
}

.contact-form__btn button {
  font-size: 1.25em;
  padding: 0.3125em;
  width: 9.375em;
  background-color: rgba(0, 128, 0, 0.6);
  color: white;
  margin: 1.875em auto 0 auto;
}

#error_message {
  width: 26.5625em;
  margin-bottom: 20px;
  background: rgba(255, 0, 0, 0.5);
  padding: 0px;
  text-align: center;
  font-size: 14px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/*# sourceMappingURL=form.css.map */