section > article {
	width: 70%;
	float: left;
	position: relative;
}

#my_photo {
	width: 35%;
	min-width: 75px;
	float: right; 
	display: block;
	margin-bottom: 4%;
	margin-top: 4%;
	margin-right: 20%;
	border-radius: 100px;
}

#right_container{
	float: right;
	width: 30%;
}

#contact {
	background-color: rgba(0,6,20, 0.8);
	color: white;
	font-size: 1em;
	width: 90%;
	border: 1px solid white;
	margin-left: 5%;
	margin-right: 5%;
	float: left;
	text-align: left;
	padding: 1% 2%;
	border-radius: 15px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	#my_photo {
		margin: 10%;
	}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
	#my_photo {
		width: 60%;
		margin: 7.5%;
	}
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	#my_photo {
		width: 50%;
		margin: 7.5%;
	}
}
