section > article {
	width: 70%;
	float: left;
	position: relative;
}

#my_photo {
	width: 35%;
	min-width: 75px;
	float: right; 
	display: block;
	margin-bottom: 4%;
	margin-top: 4%;
	margin-right: 20%;
	opacity: 100%;
	border-radius: 100px;
}

#right_container{
	float: right;
	width: 30%;
}

.contact {
	background-color: #000614;
	color: white;
	font-size: 1em;
	width: 90%;
	border: 1px solid white;
	margin-left: 5%;
	margin-right: 5%;
	float: left;
	text-align: justify;
	padding: 1% 2%;
	border-radius: 15px;
}



