@import "mixins";
@import "variables";

.section{
    flex-direction: row;
    justify-content: flex-start;
    .article{
        margin-right: PxToEm(10px);
    }

    &__images{
        display: flex;
        height: PxToEm(250px);
        flex-direction: row;

        &--first{
            width: PxToEm(100px);
            align-self: flex-start;
            order: 2;
        }
        &--second{
            width: PxToEm(100px);
            align-self: flex-start;
            order: 4;
        }
        &--third{
            width: PxToEm(200px);
            align-self: flex-end;
            order: 3;
        }
        &--fourth{
            width: PxToEm(150px);
            align-self: flex-end;
            order: 1;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 1024px){
    .section{
        flex-direction: column;

        .article{
            margin-bottom: PxToEm(20px);
        }
    }

}