/* For smartphones  */

@media only screen and (min-width: 320px) and (max-width: 480px){
	header > h1 {
		font-size: 1.5em;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	header > nav {
		width: 90%;
		text-align: center;
		float: left;
		display: table;
		border-bottom: 1px solid white;
	}
	
	header > nav div {
		width: 100%;
		display: block; 
	}
	
	header > nav div a {
		font-size: 0.75em;
		padding-top: 1%;
		padding-bottom: 1%;
	}
	
	section {
		border-radius: 10px;
	}
	
	section > h2 {
		font-size: 1em;
	}

	section > article{
		font-size: 0.75em;
	}

	li { 
		margin-left: 5%; 
	}
	
	#contact, footer {
		font-size: 0.5em;
		border-radius: 10px;
	}
	
	.flags {
		width: 12.5px;
	}
	
	#host, #host_eng {
		font-size: 0.5em;
		border-top-left-radius: 5px;
	}
	
	#host {
		width: 30%;
	}
	
	#host_eng {
		width: 25%;
	}
}	

/* For tablets and larger smartphones  */

@media only screen and (min-width: 481px) and (max-width: 768px){
	header > h1 {
		font-size: 2.5em;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	header > nav {
		width: 90%;
		text-align: center;
		float: left;
		display: table;
		border-bottom: 1px solid white;
	}
	
	header > nav div {
		width: 100%;
		display: block; 
	}
	
	header > nav div a {
		font-size: 1.25em;
		padding-top: 1%;
		padding-bottom: 1%;
	}
	
	section {
		border-radius: 10px;
	}
	
	section > h2 {
		font-size: 1.5em;
	}

	section > article{
		font-size: 1.25em;
	}

	li { 
		margin-left: 4%; 
	}
	
	#contact, footer {
		font-size: 1em;
		border-radius: 10px;
	}
	
	.flags {
		width: 15px;
	}
	
	#host, #host_eng {
		font-size: 1em;
		border-top-left-radius: 10px;
	}
	
	#host {
		width: 30%;
	}
	
	#host_eng {
		width: 25%;
	}
}

/* For larger tablets */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	header > h1 {
		font-size: 2.75em;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	header > nav {
		width: 90%;
		text-align: center;
		float: left;
		display: table;
		border-bottom: 1px solid white;
	}
	
	header > nav div {
		width: 100%;
		display: block; 
	}
	
	header > nav div a {
		font-size: 1.5em;
		padding-top: 1.25%;
		padding-bottom: 1.25%;
	}
	
	section {
		border-radius: 10px;
	}
	
	section > h2 {
		font-size: 1.75em;
	}

	section > article{
		font-size: 1.5em;
	}

	li { 
		margin-left: 4%; 
	}
	
	#contact, footer {
		font-size: 1.25em;
		border-radius: 10px;
	}
	
	.flags {
		width: 15px;
	}
	
	#host, #host_eng {
		font-size: 1.25em;
		border-top-left-radius: 10px;
	}
	
	#host {
		width: 35%;
	}
	
	#host_eng {
		width: 30%;
	}
}

/* For smaller laptops */

@media only screen and (min-width: 1025px) and (max-width: 1500px){
	header > h1 {
		font-size: 3.25em;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	header > nav {
		width: 90%;
		text-align: center;
		display: table;
	}

	header > nav div {
		width: 14%;
		display: table-cell;
		position: relative;
	}

	header > nav div a {
		font-size: 0.75em;
		padding-top: 5%;
		padding-bottom: 5%;
	}
	
	section {
		border-radius: 10px;
	}
	
	section > h2 {
		font-size: 1.5em;
	}

	section > article{
		font-size: 1.25em;
	}

	li { 
		margin-left: 2%; 
	}
	
	#contact, footer {
		font-size: 1em;
		border-radius: 10px;
	}
	
	.flags {
		width: 15px;
	}
	
	#host, #host_eng {
		font-size: 1em;
		border-top-left-radius: 10px;
	}
	
	#host {
		width: 20%;
	}
	
	#host_eng {
		width: 15%;
	}
}

/* For desktops */

@media only screen and (min-width: 2048px) {
	header > h1 {
		font-size: 4em;
	}

	header > nav {
		width: 90%;
		text-align: center;
		display: table;
	}

	header > nav div {
		width: 14%;
		display: table-cell;
		position: relative;
	}

	header > nav div a {
		font-size: 1.25em;
		padding-top: 5%;
		padding-bottom: 5%;
	}
	
	section > h2 {
		font-size: 2em;
	}

	section > article{
		font-size: 1.5em;
	}

	li { 
		margin-left: 2%; 
	}
	
	#contact, footer {
		font-size: 1.25em;
	}
	
	#host, #host_eng {
		font-size: 1.25em;
	}
}
