@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: url("photos/background.png") no-repeat center fixed;
  background-size: cover;
}

body {
  width: 100%;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

.header, .menu, .section, .footer {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgba(4, 15, 7, 0.9);
}

.header, .menu__list, .section, .host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  border: 1px solid white;
  border-top-left-radius: 0.9375em;
  border-top-right-radius: 0.9375em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.5em;
  padding: 1.25em;
}

.header__title {
  font-family: "Poiret One", cursive;
  font-size: 2.5em;
  color: #00ff00;
  font-weight: bold;
}

.menu {
  margin-bottom: 3.125em;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.menu__list {
  list-style-type: none;
  position: relative;
}

.menu__item, .menu__btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Poiret One", cursive;
  text-align: center;
  text-transform: uppercase;
}

.menu__link {
  display: block;
  padding: 0.625em 0;
  font-size: 1em;
  color: #98FB98;
  font-weight: bold;
}

.menu__link:hover {
  background-color: rgba(4, 15, 7, 0.5);
  border-bottom: 4px groove #00cc00;
  color: #ffff00;
  -webkit-transition: background-color 0.3s ease, border-bottom 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, border-bottom 0.3s ease, color 0.3s ease;
}

.menu__link--active {
  color: #ffff00;
  border-bottom: 4px groove #00cc00;
}

.menu__btn {
  width: 100%;
  border-radius: 0px;
  padding: 0.625em;
  background-color: rgba(4, 15, 7, 0.9);
  font-size: 1.25em;
  color: #98FB98;
  font-weight: bold;
}

.flags {
  width: 1.25em;
}

.section {
  padding: 1.25em 1.875em;
  border: 1px solid white;
  border-radius: 0.9375em;
  margin-bottom: 2.5em;
}

.section .article {
  font-size: 1.375em;
}

.section .article__title {
  font-size: 1.625em;
  margin-bottom: 0.3125em;
}

.section .article__list {
  margin-left: 0.9375em;
}

.footer {
  padding: 1em;
  border: 1px solid white;
  border-radius: 0.9375em;
  margin-bottom: 3.125em;
  font-size: 1.25em;
}

.host {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 13.4375em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.3125em;
  border-top-left-radius: 0.9375em;
  border-top: 2px solid white;
  border-left: 2px solid white;
  font-size: 0.9375em;
}

.host__img {
  width: 3.75em;
}

a {
  color: silver;
  text-decoration: none;
}

a:hover {
  color: gray;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 6px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu__item, .menu__btn {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1500px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1501px) and (max-width: 2048px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 2048px) {
  html {
    font-size: 20px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .menu__list--show {
    display: block;
  }
  .section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 769px) {
  .menu__btn {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */