@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* For laptops, larger tablets  */

header, nav, section, article, footer {
  display: block;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

html {
	background: url("photos/background.png") no-repeat center fixed; 
	background-size: cover;
}

body {
	width: 100%;
}

/* Nagłówek */

header > h1, section, footer {
	background-color: #000614;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	float: left;
	opacity: 95%;
}

header > h1{
	color: dodgerblue;
	text-align: center;
	font-size: 3em;
	padding-bottom: 0.5%;
	padding-top: 0.5%;
	margin-top: 2.5%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: 'Poiret One', cursive;
}

header > nav, header > h1 {
	border-top: 1px solid white;
	border-left: 1px solid white; 
	border-right: 1px solid white;
}

/* Menu nawigacyjne */

header > nav {
	background-color: #000614;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	display: table;
}

header > nav div {
	width: 14.5%;
	display: table-cell;
	position: relative;
	background-color: #000614;
}
header > nav div a {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-family: 'Poiret One', cursive;
	font-size: 1em;
	position: relative;
	padding-top: 5%;
	padding-bottom: 5%;
	font-weight: bold;
	color: #99ccff;
	text-decoration: none;
}

header > nav a:hover {
	border-bottom: 4px groove;
	border-color: #185db8;
	color: CornflowerBlue;
	font-weight: bold;
	display: block;
}

header > nav a.active {
	border-bottom: 4px groove;
	border-color: #185db8;
}

/* Sekcja główna */

section {
	color: white;
	font-size: 1.25em;
	padding: 1.5% 2%;
	
}

section > h2 {
	font-size: 1.75em;
	padding-bottom: 0.75%;
}

section, footer {
	text-align: left;
	border: 1px solid white;
	margin-top: 1.5%;
	border-radius: 15px;
}

/* Stopka */

footer {
	background-color: #000614;
	color: white;
	font-size: 1em;
	padding: 1% 2%;
}

li {
	list-style-type: circle;
	margin-left: 2%;
}

/* Linki */

a {
	color: silver;
	text-decoration: none;
}

a:hover {
	color: gray;
}

/* Flagi */

.flags {
	width: 20px; 
	opacity: 100%;
}
